{% extends 'main.html'   %}
{% load static  %}

{% block content  %}
<body>
    <div class="profile-container">
        <!-- Profile Header -->
        <div class="profile-header">
            <div class="profile-picture">
                <img src="{{editor.image.url}}" alt="Profile Picture">
            </div>
            <div class="profile-info">
                
                <h1>{{editor.name}}</h1>
                
                <p class="position">{{editor.position}}</p>
            </div>
        </div>

        <!-- Profile Details -->
        <div class="profile-details">
            <h2>Bio</h2>
            <p>{{editor.bio}}</p>

            <h2>Contact Information</h2>
            <ul>
                <li><strong>Email:</strong> {{editor.email}}</li>
                <li><strong>Phone:</strong> {{editor.phone_number}}</li>
            </ul>

            <h2>Experience</h2>
            <ul>
                <li>{{editor.experience}}</li>
              
            </ul>

            <h2>Hobbies</h2>
            <ul class="hobbies">
                <li>{{editor.hobbies}}</li>
                
            </ul>

            <h2>Social Media</h2>
            <div class="social-links">
                <a href="https://twitter.com" target="_blank" class="social-icon">{{editor.social_media}}</a>
                
            </div>
            <h2>Total views:</h2><p>{{total_views}}</p>
           
        </div>
    </div>
    {% include 'footer.html'  %}    
</body>
{% endblock  %}
