{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="profile-container">
    <h1>Update Profile</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}  <!-- This will render the form fields -->

        <button type="submit">Update Profile</button>
    </form>

    <h2>Current Avatar</h2>
    <div class="avatar-container">
        {% if user.avatar %}
            <img src="{{ user.avatar.url }}" alt="Avatar" class="avatar">
        {% else %}
            <img src="{% static 'default-avatar.svg' %}" alt="Default Avatar" class="avatar">
        {% endif %}
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
